name: CI

on:
  push:
  pull_request:

jobs:
  prettier:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '16.x'
          cache: 'yarn'
      - run: yarn install --immutable
      - run: yarn run format-check

  es-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '16.x'
          cache: 'yarn'
      - run: yarn install --immutable
      - run: yarn run lint-check

  tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        task: [ 'test:cov', 'test:e2e:cov' ]
    services:
      redis:
        image: redis
        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 6379:6379
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '16.x'
          cache: 'yarn'
      - run: yarn install --immutable
      - run: yarn run build
      - run: yarn run ${{matrix.task}}
        env:
          EXCHANGE_API_BASE_URI: http://api.exchangeratesapi.io/v1
          EXCHANGE_API_KEY: ${{ secrets.EXCHANGE_API_KEY }}
          REDIS_HOST: localhost
          REDIS_PORT: 6379
          SAFE_CONFIG_BASE_URI: ${{ secrets.SAFE_CONFIG_BASE_URI }}
      - name: Coveralls Parallel
        uses: coverallsapp/github-action@v2.1.2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          flag-name: run-${{ matrix.task }}
          parallel: true

  tests-finish:
    needs: tests
    runs-on: ubuntu-latest
    steps:
      - name: Coveralls Finished
        uses: coverallsapp/github-action@v2.1.2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          parallel-finished: true

  docker-publish:
    if: (github.event_name == 'push' && github.ref == 'refs/heads/main')
    needs: [ prettier, es-lint, tests-finish ]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: docker/setup-qemu-action@v2.2.0
        with:
          platforms: arm64
      - uses: docker/setup-buildx-action@v2
      - uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - uses: docker/build-push-action@v4
        env:
          DOCKER_IMAGE_TAG: safeglobal/safe-client-gateway-nest:staging
        with:
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ env.DOCKER_IMAGE_TAG }}
          # Use inline cache storage https://docs.docker.com/build/cache/backends/inline/
          cache-from: type=registry,ref=${{ env.DOCKER_IMAGE_TAG }}
          cache-to: type=inline

  autodeploy:
    runs-on: ubuntu-latest
    needs: [ docker-publish ]
    steps:
      - uses: actions/checkout@v3
      - name: Deploy Staging
        run: bash scripts/autodeploy.sh
        env:
          AUTODEPLOY_URL: ${{ secrets.AUTODEPLOY_URL }}
          AUTODEPLOY_TOKEN: ${{ secrets.AUTODEPLOY_TOKEN }}
          TARGET_ENV: "staging"
